@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Days+One&family=Mulish:wght@400;500;600&family=Rammetto+One&family=Roboto:wght@400;500;700&family=Voces&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    background: #cbd5e1;
    height: 100vh;
        padding: 0 5rem;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

nav {
    position: relative;
    margin-bottom: 5rem;
        height: 100%;
    }
    
    header {
        justify-self: center;
        margin-bottom: 5rem;
}

main {
    position: relative;
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 5rem;
}

.logo {
    position: absolute;
    font-size: 5rem;
    color: forestgreen;
}