.navigation {

    &__con {
        display: flex;
            justify-content: space-between;
        width: 100%;
            // background-color: aqua;
    }

        // &__nav {
    
        // }

    &__links {
        width: 38rem;
        height: 4rem;
        font-size: 1.5rem;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        // background-color: antiquewhite;
    }

    &__link,
    &__link:visited,
    &__link:active {
        color: black;
        text-decoration: none;
    }
}