.btn {
    background: transparent;
    border: none;
    box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.423), 5px -5px 3px rgba(255, 255, 255, 0.727);
    width: 8rem;
    height: 2rem;
}

.ft__btn {
    justify-self: flex-end;

}