.input {
    border-radius: 5px;
    position: relative;
    z-index: 40;
    background-color: #94a3b8;
    border: none;
    padding: .2rem .5rem;
    outline: none;
    color: #fff;
    font-size: 1.4rem;
    // overflow: hidden;
    // width: max-content;
    resize: none;
}